<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="fooddeliverydb">

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/dbfood</property>
        <property name="connection.username">prueba</property>
        <property name="connection.password">1234560</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Configuracion del pool interno -->
        <property name="connection.pool_size">1</property>
        <!-- Otras propiedades importantes -->
        <property name="show_sql">true</property>
        <mapping package="org.wifry.fooddelivery.model"/>

    </session-factory>
</hibernate-configuration>
